$main-color-yellow: rgb(201, 153, 64);
$main-color-black: #545149;
$main-color-white: #f4f1ec;
$main-color-blue: #4056A1;
$main-back-texture: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");