@use 'base';

@media only screen and (min-width: 1024px) {
  html {
    width: 100%;

    main {
      width: 55%;
      margin-right: 2em;
      float: right;
    }

    nav {
      background-color: base.$main-color-blue;
      background-image: none;
    }
  }

  #nav-button {
    background-color: base.$main-color-blue;
    background-image: none;
    border-color: base.$main-color-blue;
  }

  
  #header-main {
    height: 300px;
    margin: 2em;
    width: 45%;
  }

  #header-avator {
    padding-top: 40px;
    width: 150px;
    height: auto;
  }

  #header-and-main {
    display: flex;
    margin-top: 5em;
  }
}