#header-main {
  height: 400px;
  width: 100%;
  position:relative;
  background-color:rgb(201, 153, 64);
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
}

#header-element {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#header-avator {
  padding-top: 120px;
  width: 150px;
  height: auto;
}

#header-word {
  margin-top: 0px;
  margin-bottom: 0px;
  color: white;
}