nav {
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #FFF;
  display: flex;
  justify-content: space-between;
}

nav span {
  font-family: 'Bungee', cursive;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

nav div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#nav-left {
  font-size: 1.5em;
  display: flex;
  align-items: flex-end;
  padding-bottom: 1em;
}

#nav-right {
  display: flex;
  font-family: 'Source Sans Pro', sans-serif;
  align-content: center;
}

.padding-right {
  padding-right: 0.3em;
}

nav i {
  color: red;
}