nav {
  height: 120px;
  width: 100%;
  /* background-color: #4056A1; */
  color: white;
  position: absolute;
  top: 0;
  z-index: 1;
  background-color:rgb(201, 153, 64);
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
}

nav span {
  font-family: 'Bungee', cursive;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

nav div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#nav-element {
  display: flex;
  justify-content: space-between;
  height: 120px;
}

#nav-left {
  display: flex;
  font-size: 1.5em;
  align-items: flex-end;
  padding-bottom: 1em;
}

#nav-right {
  margin: 1em;
}

#nav-button {
  color: white;
  font-family: sans-serif;
  font-weight: 200;
  background-color: rgb(201, 153, 64);
  border: solid;
  border-color:rgb(201, 153, 64);
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
}

#nav-right-arrow {
  height: 30px;
}

#nav-right-bold {
  font-weight: 500px;
}

nav i {
  color: red;
}