#tweet-new-form {
  display: none;
}

main section form {
  display: flex;
  flex-direction: column;
  margin: 0.5em;
}

main section form label {
  margin-top: 2em;
  font-family: sans-serif;
  font-weight: 600
}

.new-tweet {
  display: flex;
  flex-direction: column;
}

#tweet-text {
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-bottom: 0.5emem;
  padding-top: 0em;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 5px;
  margin-top: 1em;
  outline: none;
  background-color: #f4f1ec;
  resize: none;
  overflow: hidden;
  font-family: sans-serif;
  font-weight: 400;
  height: 56px;
}

#tweet-button {
  display: flex;
  padding-top: 1em;
  justify-content: space-between;
}

#tweet-button button {
  background-color: #4056A1;
  color: white;
  font-family: 'Bungee', cursive;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border: solid;
  border-color: #f4f1ec;
}

#tweet-button output {
  font-family: 'Bungee', cursive;
}

#error-message {
  margin: 1em;
  border: solid;
  border-color: red;
  width: auto;
  display: none;
}

#error-message div {
  margin: 0.3em;
  display: flex;
}

#error-message i {
  color: red;
}

#error-message p {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0.5em;
  margin-right: 0.5em;
  color: red;
  font-family: sans-serif;
  font-weight: 100;
}
