main section form {
  display: flex;
  flex-direction: column;
  margin: 0.5em;
}

main section form label {
  font-family: sans-serif;
}

.new-tweet {
  display: flex;
  flex-direction: column;
}

#tweet-text {
  height: 110px;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-bottom: 1.2em;
  padding-top: 0em;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 5px;
  margin-top: 1em;
  outline: none;
  background-color: #f4f1ec;
  resize: none;
  overflow: hidden;
  font-family: sans-serif;
  font-weight: 200;
}

#tweet-button {
  display: flex;
  padding-top: 1em;
  justify-content: space-between;
}

#tweet-button button {
  background-color: #4056A1;
  color: white;
  font-family: 'Bungee', cursive;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border: 0px;
}

#tweet-button output {
  font-family: 'Bungee', cursive;
}

